/* Landing Page */
.landing {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 2.5rem;
}

.landing_whole {
    display: flex;
    width: 88vw;
    height: 100%;
}

.landing_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.pg_title_landing {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    margin-bottom: 0.4rem;
    color: #FF2C3A;
}

.pg_title_landing_right {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    color: #959595;
}

.tagline {
    font-size: 14px;
    font-weight: 400;
    color: #5C5C5C;
}

.tagline_red {
    color: #FF2C3A;
}

.call_to_action {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 27rem;
    font-size: 14px;
    justify-content: space-between;
}

.know_more {
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #FF2C3A;
    padding: 0.35rem 0.4rem 0.35rem 0.6rem;
    border-radius: 5px;
    color: white;
}

.arror_fwd_ico {
    margin-left: 0.5rem;
    margin-top: 0.15rem;
}

.chat_ctc {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.whatsapp {
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #FF2C3A;
    padding: 0.45rem 1rem;
    border-radius: 5px;
    color: white;
}
.company_brief {
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    width: 70%;
    color: #5C5C5C;
    margin-top: 1.2rem;
}

.stats {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.up_stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stat_per {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    color: #FF2C3A;
}

.stat1 {
    width: 11rem;
}

.stat2 {
    margin-top: 1.5rem;
    display: flex;
    width: 16.9rem;
    justify-content: space-between;
    align-items: center;
}

.stat2:nth-child(2) {
    margin: 0;
}

.down_stats {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 105%;
    align-items: flex-end;
    justify-content: space-between;
}

.stat_brief,
.stat_brief2 {
    font-size: 14px;
    display: flex;
    width: 11rem;
    font-weight: 400;
    color: #5C5C5C;
}

.stat_brief {
    width: 100%;
}

.landing-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-slider {
    width: 43rem;
    height: 22rem;  
    margin: auto;
    box-shadow: 0 0 3px grey;
    position: relative;
    border-radius: 9px;

    /* IN THE END */
    overflow: hidden;
}

.landing-slider-text {
    display: flex;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.landing-slider-count {
    font-size: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FFB9BE;
    font-weight: 700;
}

.landing-slider-info{
    position: absolute;
    margin-left: 6rem;
    margin-top: 1rem;
}
.landing-slider-info>h3 {
    margin-left: -2.3rem;
}

.slider {
    display: flex;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
    border-radius: 9px;
}

.slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
}

.landing-slider-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-carousel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.3rem;
    border: none;
    background-color: #fff;
}

.btn-prev {
    width: 10px;
}

.btn-next {
    rotate: 180deg;
    width: 10px;
}

.dots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dots__dot {
    border: none;
    background-color: #D9D9D9;
    opacity: 0.7;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    margin: 0.2rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot--active {
    /* background-color: #fff; */
    background-color: #FF2C3A;
    opacity: 1;
}

.landing-img {
    width: 100%;
    height: 100%;
}

.carousal_nav {
    margin: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
}

.col_pin {
    position: absolute;
    display: flex;
    align-items: center;
    right: 18%;
    top: 70.5%;
}

.zero_one {
    font-weight: 700;
    font-size: 80px;
    color: #FFB9BE;
}

.the_colo {
    width: 11rem;
    height: 2.7rem;
    font-weight: 400;
    font-size: 24px;
    top: 73.5%;
    right: 19%;
    color: #222222;
}

.pin_sch {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #5C5C5C;
    right: 36.1%;
    top: 60.3%;
}

.landing_below {
    display: flex;
    width: 100%;
    justify-content: center;
}

.landing_below_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 88vw;
}

.landing_end_line {
    width: 60%;
    /* margin-right: 6vw;      */
    height: 0.1px;
    background-color: #747474;
}

.ren_wor {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.16em;
}
#landing-title{
    font-weight: 400;
    font-size: 30px;
    color: #222222;
}
#landing-info{
    font-size: 20px;
}

.ren_reno {
    color: #FF2C3A;
}

.lsi_head{
    font-weight: 400;
    color: #5C5C5C;
}

@media screen and (max-width: 400px) {
    .landing_whole {
        flex-direction: column;
        gap: 3rem;
    }
    .call_to_action{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
    }
    .up_stats {
        flex-wrap: wrap;
        gap: 1rem;
    }
    .company_brief {
        width: 100%;
    }
    .stat1 {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    .stat3{
        display: flex;
        width: 100%;
        gap: 1rem;
    }
    .stat3>.stat_brief{
        width: 11rem;
    }
    .slider {
        flex-direction: column;
    }
    .landing-slider {
        width: 19.4rem;
        height: 12rem;
    }
    .landing-slider-text {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    #landing-image-count{
        font-size: 4rem;
    }
    #landing-title {
        font-size: 26px;
    }
    #landing-info {
        font-size: 18px;
    }
    .landing-slider-info>h3 {
        margin-left: -1.5rem;
    }
    .landing-slider-info {
        margin-left: 4.3rem;
        margin-top: 0.7rem;
    }
}