/* Product Range */
.product_range {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}

.product_range_body {
    width: 72vw;
}

.prod_range_title {
    display: flex;
    /* flex-direction: column; */
    font-weight: 700;
    font-size: 48px;
    gap: 1rem;
    color: #FF2C3A;
}

.prod_range_rang {
    color: #959595;
    /* font-weight: 700; */
    /* font-size: 32px; */
}

.prod_range_carousel {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 30rem;
    justify-content: flex-end;
    align-items: flex-end;
}

.prod_range-slider {
    width: 35.9rem;
    height: 22.7rem;
    position: absolute;
    top: 86.9rem;
    left: 22.9rem;
}

.product-slide {
    width: 31.7rem;
    height: 23rem;
    position: absolute;
    transition: 1s;
}

.product-slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
}

.prod-arrow {
    border: none;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    background: #F5F5F5;
    padding: 0 2rem;
}


.prod_range_box_outer {
    background: #F5F5F5;
    margin-left: 3.5rem;
    margin-top: 2rem;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.prod_range_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2.2rem;
    margin-top: 5rem;
}

.prod_range_box_body {
    margin-left: 5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.prod_title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FF2C3A;
}

.prod_description {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.prod_range_box_body_car_nav {
    width: 10rem;
    height: auto;
}

.meshed_rectangle1 {
    left: 4rem;
    position: absolute;
    top: 80rem;
    width: 14rem;
    z-index: -1;
}

.ser_off_socials_pr {
    display: flex;
    position: absolute;
    rotate: 90deg;
    left: 3%;
    top: 113.7rem;
    gap: 0.5rem;
}